body {
  background-color: black;
  font-family: 'serif';
  font-weight: 100;
  color: white;
  font-family: 'Work Sans', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  /* overflow: hidden; */
}

/* div.middle {
  margin: auto;
position: absolute;
top: 50%;
bottom: 50%;

  display: block;
  width: 30%;

  vertical-align: middle;
}

div.container {
  vertical-align: middle;
} */

div.between {
margin: auto;
position: absolute;
top: 45%;
bottom: 55%;

display: block;
position: fixed;

width: 30%;
font-size: 45px;
letter-spacing: 1px;
padding: 4px;

animation-name: between;
animation-duration: 600s;
animation-iteration-count: infinite;
animation-timing-function: ease;

}



div.jobs {
  margin: auto;
position: absolute;
top: 45%;
bottom: 55%;

right: 0;

width: 30%;
text-align: right;
font-size: 45px;
letter-spacing: 1px;
padding: 4px;

animation-name: jobs;
animation-duration: 600s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}



@keyframes between {
  0%   {transform: translateX(0px);}
  50% {transform: translateX(100%);}
  100% {transform: translateX(0px);}
}

@keyframes jobs {
  0%   {transform: translateX(0px);}
  50% {transform: translateX(-100%);}
  100% {transform: translateX(0px);}
}
