body {
  background-color: black;
  font-family: 'serif';
  font-weight: 100;
  /* color: #f0f0f0; */
color: white;
  font-family: 'Work Sans', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

div.between {
position: fixed;
top: 0;
left: 0;
width: 30%;
font-size: 45px;
letter-spacing: 1px;
padding: 4px;

animation-name: between;
animation-duration: 600s;
animation-iteration-count: infinite;
animation-timing-function: ease;

}

div.jobs {
  position: fixed;
top: 0;
right: 0;
width: 30%;
text-align: right;
font-size: 45px;
letter-spacing: 1px;
padding: 4px;

animation-name: jobs;
animation-duration: 600s;
animation-iteration-count: infinite;
animation-timing-function: ease;
}

@keyframes between {

  0%   {transform: translateX(0px);}
  50% {transform: translateX(100%);}
  100% {transform: translateX(0px);}

}

@keyframes jobs {

  0%   {transform: translateX(0px);}
  50% {transform: translateX(-100%);}
  100% {transform: translateX(0px);}

}
